name: Minute to Minute Hello

on:
  schedule:
    - cron: "5 * * * *"
  workflow_dispatch:

jobs:
  hello-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Say Hello
        run: |
          echo "Hello from GitHub Actions"
          python -c "print('Hello World')"
